@model IEnumerable<GamerPlus.Models.Game>
@foreach (var item in Model)
{
    <div class="allimagemain_div0">
        <div class="allgameimage" style="background-image: url('@item.Image');"></div>
    </div>
}