
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>

    .carousel_main {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .Limage {
        position: relative;
        width: 70%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        overflow:hidden
    }

    .Simage {
        position: relative;
        width: 30%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    /*Carousel Start*/
    .carousel-inner.vertical {
        height: 100%;
        width: 100%
    }

        .carousel-inner.vertical > .item {
            -webkit-transition: .6s ease-in-out top;
            -o-transition: .6s ease-in-out top;
            transition: .6s ease-in-out top;
        }

    @@media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-inner.vertical > .item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
        }

            .carousel-inner.vertical > .item.next,
            .carousel-inner.vertical > .item.active.right {
                top: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }

            .carousel-inner.vertical > .item.prev,
            .carousel-inner.vertical > .item.active.left {
                top: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

                .carousel-inner.vertical > .item.next.left,
                .carousel-inner.vertical > .item.prev.right,
                .carousel-inner.vertical > .item.active {
                    top: 0;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
    }

    .carousel-inner.vertical > .active {
        top: 0;
    }

    .carousel-inner.vertical > .next,
    .carousel-inner.vertical > .prev {
        top: 0;
        height: 100%;
        width: 100%;
    }

    .carousel-inner.vertical > .next,
    .carousel-inner.vertical > .prev {
        top: 0;
        height: 100%;
        width: 100%;
    }

    .smcarousel_div.carousel-inner.vertical > .next,
    .smcarousel_div.carousel-inner.vertical > .prev {
        top: 0;
        width: auto;
    }

    .carousel-inner.vertical > .next {
        left: 0;
        top: 100%;
    }

    .carousel-inner.vertical > .prev {
        left: 0;
        top: -100%
    }

        .carousel-inner.vertical > .next.left,
        .carousel-inner.vertical > .prev.right {
            top: 0;
        }

    .carousel-inner.vertical > .active.left {
        left: 0;
        top: -100%;
    }

    .carousel-inner.vertical > .active.right {
        left: 0;
        top: 100%;
    }
    /*Carousel End*/

    .carousel_div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    .smcarousel_div {
        position: relative;
        /*width: 100%;*/
        height: 100%;
    }

    .imgcarousel_div {
        position: relative;
        width: 100%;
        height: calc(100% / 3);
    }

    .image1 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/CapAm.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image2 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/helmet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .image3 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/wanda.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .image4 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/Kage.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .Simage1 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/CapAm.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Simage2 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/helmet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .Simage3 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/wanda.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .Simage4 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../../Images/Kage.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .div_imgdetails{
        position:absolute;
        width:100%;
        height:20%;
        bottom:0;
        left:0;
        background-color:rgba(0, 0, 0, 0.5)
    }

    .div_imgdetails_{
        position:relative;
        width:50%;
        height:100%;
        display:inline-block;
        vertical-align:top;
        padding:15px
    }

    .nameandprice{
        position:relative;
        width:100%;
        height:50%;
    }

    .gamename{
        position:relative;
        width: 100%;
        height:100%;
        font-size:x-large;
        font-family: 'Century Gothic';
        text-transform: uppercase;
        color:#ffffff
    }

    .gameprice{
        position:relative;
        width: 100%;
        height:100%;
        font-size:large;
        font-family: 'Century Gothic';
        font-weight:bold;
        color:#ffffff;
    }

    .addtocart_div{
        position:relative;
        width:100%;
        height:65%;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%)
    }

    .btnaddtocart{
        position:relative;
        float:right;
        width:auto;
        height:auto;
        font-size:large;
        font-family: 'Century Gothic';
        cursor:pointer
    }

</style>

<div id="carouselmain" class="carousel_main">

    <div class="Limage">
        
        <div class="carousel_div carousel slide" id="carousel-example-generic" data-ride="carousel" data-interval="5000">
            <div class="carousel_div carousel-inner vertical" role="listbox">
                <div class="carousel_div item active">
                    <div class="image1"></div>
                </div>
                <div class="carousel_div item">
                    <div class="image2"></div>
                </div>
                <div class="carousel_div item">
                    <div class="image3"></div>
                </div>
                <div class="carousel_div item">
                    <div class="image4"></div>
                </div>
            </div>
        </div>
        <div class="div_imgdetails">
            <div class="div_imgdetails_">
                <div class="nameandprice">
                    <div class="gamename">resident evil 3</div>
                </div>
                <div class="nameandprice">
                    <div class="gameprice"><span>Php </span>1750.00</div>
                </div>
            </div><!--
         --><div class="div_imgdetails_">
                <div class="addtocart_div">
                    <div class="btnaddtocart btn btn-info">Add to Cart</div>
                </div>
            </div>
        </div>

    </div><!--
 --><div class="Simage">

        <div id="carousel-pager" class="carousel_div carousel slide " data-ride="carousel" data-interval="5000" >
            <div class="smcarousel_div carousel-inner vertical">
                <div class="imgcarousel_div item active">
                    <div class="Simage2"></div>
                </div>
                <div class="imgcarousel_div item">
                    <div class="Simage3"></div>
                </div>
                <div class="imgcarousel_div item">
                    <div class="Simage4"></div>
                </div>
                <div class="imgcarousel_div item">
                    <div class="Simage1"></div>
                </div>
            </div>
        </div>
        
    </div>

</div>


<script>

    $(document).ready(function () {

        $('.carousel .vertical .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 1; i < 3; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });

        //(this.$element.find('.next, .prev')
        //$('.carousel').carousel({
        //    //interval: 5000,
        //    pause: "hover"
        //});

        //$('#carouselmain').hover(function () {
        //    $("#carousel-pager").carousel('pause');
        //}, function () {
        //    $("#carousel-pager").carousel('cycle');
        //});

    });

</script>
