@model GamerPlus.Models.NameLogo



<div class="logomain">

    <div class="logo_div">
        <div class="applogo @Model.AppLogo"></div>
    </div><!--
 --><div class="name_div">
        <div class="appname">@Model.AppName</div>
    </div>

</div>

